<p style="color: purple"><%= notice %></p>

<h1 style="color: #89CFF0"> Marianthi's Ideas</h1>
<%= link_to "Add a new idea", new_idea_path, class: "btn btn-primary mb-3" %>

<div class="list-group w-auto">
  <% @ideas.each do |idea| %>
    <%= render idea %>
  <% end %>
</div>